/* */

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }

  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }

  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }

  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }

  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }

  /* 80% {
     
      transform:translateY(-10px) 
  } */
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }

  /* 80% {
     
      transform:translateY(-10px) 
  } */
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

/* we set font here in body to use the power of inheritance
remember that text elements usually inherit from parent;more efficient and pro
*/

html {
  font-size: 62.5%;
  /* 10px bc makes conversion easier that is 1 rem is now 10px so can divide by ten to get rems */
  /* use % 10/16 -->62.5  to allow user to change font size in browser settings */
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
}

@media only screen and (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

::-moz-selection {
  background-color: #3A5273;
  color: #FFFFFF;
}

::selection {
  background-color: #3A5273;
  color: #FFFFFF;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  /* later we change 16px to 67.5 % so that can use rems and be resizable to user */
  line-height: 1.7;
  color: #777;
  /* padding to give it that nice white border so it looks more pro like a mag */
  /* note tht padding isant inherited thais just goes around the body */
}

.heading-primary {
  color: #3A5273;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  /* abve is for the shaky animatinion thing apparently whole thing moc=ves and this stops it.. */
  margin-top: 13rem;
  line-height: 1.1;
  /* animatios optiz=mized for opacity and transform  x  think of neg to left pos to right like graph   -3-2-1 0 1 2 3 */
  /* for ani to work must specify animation name and duriation */
}

.heading-primary--main {
  width: 35rem;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  display: block;
  /* from inline to block so that will use all width and have line breaks whcih for on eover other makes sense */
  font-size: 5.5rem;
  /* bc fint weight higher in h1 than we want we lower it to 400 */
  font-weight: 400;
  /* give it that big wide look for outdoors */
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  margin-bottom: 2.5rem;
}

@media only screen and (max-width: 37.5em) {
  .heading-primary--main {
    letter-spacing: 1rem;
    font-size: 5rem;
  }
}

.heading-primary--sub {
  display: block;
  font-size: 1rem;
  font-weight: 700;
  -webkit-animation-name: moveInRight;
          animation-name: moveInRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  /* other ani props */
  /* animation-iteration-count: 3; */
  /* animation-delay: 1s; */
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@media only screen and (max-width: 37.5em) {
  .heading-primary--sub {
    letter-spacing: 0.5rem;
  }
}

.heading-secondary {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #6189BF, #3A5273);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
  text-align: center;
}

@media only screen and (max-width: 56.25em) {
  .heading-secondary {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .heading-secondary {
    font-size: 2.5rem;
  }
}

.heading-secondary:hover {
  -webkit-transform: skewY(5deg) skewX(15deg) scale(1.1);
          transform: skewY(5deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-tertiary {
  font-size: 1.2rem;
  color: #3A5273;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.paragraph {
  display: inline-block;
  width: 45rem;
  font-size: 1.6rem;
  color: #596174;
  font-weight: 100;
  letter-spacing: 0.1rem;
  line-height: 3rem;
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-small-med {
  margin-bottom: 2rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-medium {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-big {
    margin-bottom: 5rem !important;
  }
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-big {
  margin-top: 10rem !important;
}

.header {
  overflow: hidden;
  padding: 2.6rem 4rem 1rem 1.4rem;
  background-image: linear-gradient(to bottom right, rgba(128, 128, 128, 0), rgba(58, 82, 115, 0)), url(/images/hero-home.jpg?b43490f6b1e099a23a2dea8b47e0a3e8);
  height: 100vh;
  background-size: cover;
}

.header__text-box {
  color: #818D9E;
  font-size: 0.9rem;
  font-weight: 100;
  margin: 0 auto;
}

.about__text-box {
  padding-top: 2.5rem;
  display: block;
  margin: 10rem auto;
  padding-bottom: 15rem;
  text-align: center;
  width: 70rem;
  position: relative;
}

.about__paragraph {
  text-align: center;
  color: #596174;
}

.about__paragraph--large {
  margin-top: 2.5rem;
  font-size: 2.4rem;
  font-weight: 300;
}

.about__paragraph--small {
  font-size: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 25rem;
}

.about__number {
  transition: all 0.6s ease-in-out;
  width: 10rem;
  font-size: 10rem;
  font-weight: 700;
  position: relative;
  top: 10rem;
  margin: 0 auto;
  z-index: -1000;
  opacity: 0.075;
}

.about__number:hover {
  opacity: 0.4;
}

.about__check {
  width: 18px;
  display: inline-block;
  position: relative;
  font-size: 2rem;
  z-index: 1000;
  transition: 0.6s all ease-in-out;
}

.about__check::before {
  text-align: center;
  border-radius: 1500px;
  color: white;
  background-color: #82D4BB;
  display: inline-block;
  height: 2rem;
  width: 2rem;
  text-align: center;
}

.about__check-1 {
  float: left;
  margin-left: -1.75rem;
  margin-top: -1rem;
}

.about__check-2 {
  position: relative;
  left: 48.5125%;
  top: -1rem;
}

.about__check-3 {
  float: right;
  margin-top: -1rem;
  margin-right: -1.75rem;
}

.section-about {
  position: relative;
}

.horizontal-rule {
  width: 77.5rem;
  height: 1px;
  margin: 0 auto;
  position: relative;
  top: -53rem;
  border-top: 1.5px dotted #596174;
  opacity: 0.4;
}

.green {
  color: #82D4BB;
  background-color: white;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

@media only screen and (max-width: 56.25em) {
  .row {
    width: 50rem;
    padding: 0 3rem;
  }
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

@media only screen and (max-width: 56.25em) {
  .row:not(:last-child) {
    margin-bottom: 6rem;
  }
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^=col-] {
  float: left;
}

.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}

@media only screen and (max-width: 56.25em) {
  .row [class^=col-]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 6rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .row [class^=col-] {
    width: 100% !important;
  }
}

.row .col-1-of-2 {
  width: calc(( 100% - 6rem ) /2);
}

.row .col-1-of-3 {
  width: calc(( 100% - 2 * 6rem ) /3);
}

.row .col-2-of-3 {
  width: calc( 2* (( 100% - 2 * 6rem ) /3) + 6rem);
}

.row .col-1-of-4 {
  width: calc(( 100% - 3 * 6rem ) /4);
}

.row .col-2-of-4 {
  width: calc( 2* (( 100% - 3 * 6rem ) /4) + 6rem );
}

.row .col-3-of-4 {
  width: calc( 3* (( 100% - 3 * 6rem ) /4) + 2 * 6rem );
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.navigation {
  text-decoration: none;
  height: 8rem;
  position: relative;
}

.navigation__container {
  position: relative;
}

.navigation__box {
  display: inline-block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 0 auto;
}

.navigation__list {
  list-style-type: none;
  margin: 0 auto;
}

.navigation__item {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  padding: 0.8rem;
}

.navigation__item .fa {
  font-size: 0.4rem;
  padding-left: 0.5rem;
}

.navigation__link {
  color: #818D9E;
  padding: 2rem 2.5rem;
  display: inline;
  vertical-align: center;
  text-align: center;
}

.navigation__link:link,
.navigation__link:hover,
.navigation__link:active {
  text-decoration: none;
}

.navigation__brand {
  display: inline-block;
}

.navigation__logo-background {
  position: relative;
  display: inline-block;
  width: 2.8rem;
  height: 2.8rem;
  font-size: 1.8rem;
  border-radius: 50%;
  color: #FFFFFF;
  background-color: #3A5273;
  text-align: center;
  margin-right: 0.25rem;
}

.navigation__name {
  color: #3A5273;
  font-weight: 100;
  font-size: 2.2rem;
  display: inline-block;
  vertical-align: center;
}

.navigation__authorization-box {
  vertical-align: center;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.navigation__sign-up {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: -1.5rem;
}

.navigation__login {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.section-2 {
  background-image: linear-gradient(122deg, #ffffff, #eef4ff, #eef4ff);
  position: relative;
  padding-top: 1rem;
  z-index: 10;
}

.steps {
  margin-top: 20rem;
  height: 100rem;
  z-index: 100;
  position: relative;
  display: block;
  top: 0;
  left: 0;
}

.steps__item {
  height: 8rem;
  width: 6rem;
  display: inline-block;
  top: 0%;
  left: 0%;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
  margin-left: 26rem;
  color: #B9c4DA;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.steps__item:not(:first-child) {
  margin-left: 16.9rem;
}

.steps__item span {
  display: inline-block;
  position: relative;
  width: 4rem;
  height: 4rem;
  margin-bottom: 1.2rem;
  line-height: 4rem;
  border-radius: 4rem;
  background-color: #F8FbFF;
  border: 1px solid #D8dde2;
  display: inline-block;
  color: #B9c4DA;
  position: relative;
}

.steps__item span::before {
  content: "";
  position: absolute;
  top: 2rem;
  left: -60rem;
  width: 60rem;
  height: 0.15rem;
  margin: 0 15rem 0 0;
  background-color: #D8dde2;
  z-index: -10;
}

.steps__item-category {
  display: block;
}

.active {
  color: #607CB3;
}

.active span {
  color: #ffffff;
  background-color: #607CB3;
}

.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  border: none;
  cursor: pointer;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active,
.btn:focus {
  outline: none;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: #FFFFFF;
  color: #777;
}

.btn--white::after {
  background-color: #FFFFFF;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn--animated {
  -webkit-animation: moveInBottom 0.5s ease-out 0.75s;
          animation: moveInBottom 0.5s ease-out 0.75s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.btn--green {
  padding: 1.4rem 3.5rem;
  background-color: #82D4BB;
  color: #FFFFFF;
}

.btn--green-large {
  background-color: #82D4BB;
  color: #FFFFFF;
  padding: 1.6rem 4rem;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 2rem 2.5rem;
  letter-spacing: 0.8px;
}

.btn--green::after {
  background-color: #82D4BB;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.15;
  overflow: hidden;
}

.bg-video__content {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.composition {
  width: 100%;
  text-align: center;
}

.composition:hover > .about__number {
  opacity: 0.5;
}

.svg {
  height: 16rem;
  width: 100%;
  margin: 0 auto;
  margin-bottom: -7rem;
}

.svg-2 {
  margin-top: 1rem;
  height: 15rem;
}

/* include pusedos just to prevent any strange behavior eg if had padding in affter but wasnt border box below its good practice.. */

