.about {
    //width: 100%;
    &__text-box {
        //width: 50rem;
        padding-top:15rem; 
        display: block;
      margin:0 auto;
      
        padding-bottom: 10rem;
       // background-color: orange;
        text-align:center;
        width:70rem;
    }

    &__paragraph {
        margin-top: 2.5rem;
        font-size: 2.4rem;
        font-weight: 300;
        color:$default-font-color-paragraph;
       // width: 25rem;
    }
}
//ha i fn forgot to import this shit in main css
// also pro tip display inline-block was blocking the ability of margin 0 auto of working ; once i made it block it worked
