.header {
    
    overflow: hidden;
    padding: 2.6rem 4rem 1rem 1.4rem;
     background-image: linear-gradient(to bottom right, rgba(grey,.0), rgba($color-primary,.0)), url(../img/hero-home.jpg);
    // width: 100%;  linear-gradient(to bottom right, rgba($color-primary-light,.6), rgba($color-primary,.6)),
     height: 100vh;
    background-size: cover;
    //background-blend-mode: lighten;
    // backdrop-filter: satuartion;
    //-webkit-background-blend-mode:lighten;
    


    &__text-box {
        color: $default-font-color;
        font-size: .9rem;
       // width: 30rem;
        font-weight: 100;
        margin: 0 auto;
       
       
    }

}

// .bg-photo {
//     height: 96vh;
//     background-size: cover;
//    // background-blend-mode: lighten;
//     width: 100%;
//     // filter: blur(5px) brightness(0.5);
//     position: absolute;
// }

