.header {
    
    overflow: hidden;
    padding: 3rem;
    background-image: linear-gradient(to bottom right, rgba(white,.0), rgba($color-primary,.0)), url(../img/home-4.jpg);
    // width: 100%;  linear-gradient(to bottom right, rgba($color-primary-light,.6), rgba($color-primary,.6)),
     height: 96vh;
    background-size: cover;
    background-blend-mode: lighten;
    // backdrop-filter: satuartion;
    -webkit-background-blend-mode:lighten;


    &__text-box {
        color: $default-font-color;
        font-size: .9rem;
        width: 27rem;
        font-weight: 100;
        margin: 0 auto;
       
    }

}

