.section-2 {
    background-image: linear-gradient(122deg, #ffffff, #eef4ff, #eef4ff);
    position: relative;
    padding-top: 1rem;
    z-index: 10;
    height: 130vh;
    // negative z-index will cause elements to be non hoverable
    
}
.steps {
    margin-top: 20rem;
    //background-color: #FFFFFF;
    
    // color: #606879;
    height: 20rem;
     z-index: 100;
      position: relative;
      display: block;
      top:0;
      left:0;
    &__item {
      //make a circle these must be equal ie width height line height  
      height: 8rem;
      width: 6rem;
      display: inline-block;
      top:0%;
        left:0%;
        font-size: 1.25rem;
        font-weight: 700;
        text-align: center;
        margin-left:26rem;
        color: #B9c4DA;
        text-transform: uppercase;
        transition: all .2s ease-in-out;

    &:not(:first-child) {
        margin-left: 16.9rem;
    }

    & span {
        display: inline-block;
        position: relative;
        width: 4rem;
        height: 4rem;
        margin-bottom: 1.2rem;
        line-height: 4rem;
        border-radius: 4rem;
        border:1px solid #D8dde2;
        background-color: #F8FbFF;
        color: #B9c4DA;
        transition: all .2s ease-in-out;
    }
    & span::before{
        content: '';
        position: absolute;
        top: 2rem;
        left: -60rem;
        width: 60rem;
        height: .15rem;
        margin: 0 15rem 0 0;
        background-color: #D8dde2;
         z-index: -10;
    }
        &-category {
            display: block;
        }
        
      } //end item
      
      &__img {
          height: 104.422rem;
          width: auto;
          margin-left: -20rem;
          position: relative;
          top:0;
          left:-87%;
      }

      &__icon {
          padding-top: 6rem;
          display:block;
          margin-bottom: 2.2rem;
      }

     &__number {
        height:60.3rem;
        width: auto;
        z-index: -1;
            // &-container {
            //     position: relative;
            //     height: 60.3rem;
            //     width:40rem;
            //     z-index: -10;
            // }
         position: absolute;
        //  display: inline;
         right:0%;
         bottom:-5%;
       
      }

      &__text-box {
        width:36rem;
        z-index: 1;
        & > h2 {
            font-size: 3.5rem;
            color:$color-primary;
            font-weight: 300;
            margin-bottom:1rem;
            line-height: 4rem;
            

        }

        & > p {
            font-size: 1.5rem;
            color:$default-font-color-paragraph;
            // font-weight: 300;
            margin-bottom:2rem;

        }

        & > .btn {
            font-size: 1.3rem;
            font-weight: 800;
        }
      }
}



  

.active {
    color: #607CB3;
}
  
  .active span {
    color: #ffffff;
    background-color: #607CB3;
   
  }

//   will be not active
// so , is ust applied to both while .a.b must have both 
.tab__pane {
    display: none;
    // transition: all .5s ease;  where how do i get this to work for when the tab pane comes in when active is applied
}
  .active.tab__pane {
    display:block;
   
  }
  
