
// colors
$color-primary:#3A5273;
$color-primary-light:#6189BF;
$color-primary-dark:#28b485;//#28b485

$color-secondary:#82D4BB;
$color-secondary-light: #ffb900; 
$color-secondary-dark: #ff7730; 

$color-tertiary-light: #2998ff; 
$color-tertiary-dark: #5643fa; 

$color-brand:#3A5273;
$color-white-grey:#E5E8EC;

$color-grey-light-1:#f7f7f7;
$color-grey-light-2:#eee;


$color-grey-dark:#777;
$color-grey-dark-2:#999;
$color-grey-dark-3:#333;

$color-white:#FFFFFF; 
$color-black:#000;
// font 
// defualt does not mean we are setting the rem unit it is just our commonly used font size here for text
$default-font-size:1.2rem;
$default-font-color:#818D9E;
$default-font-color-paragraph:#596174; //#6E7685;
// this was 1.6-1.8

// width
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-vertical-small:6rem;

$gutter-horizontal:6rem;
